<a href="https://colab.research.google.com/github/ava2467/ml-ai/blob/main/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Reverse fruit list
fr=['banana','orange','mango','lemon']
reverse=[]
for val in fr:
  reverse=[val]+reverse
print("Reversed list",reverse)

Reversed list ['lemon', 'mango', 'orange', 'banana']

In [ ]:
#@title Fibonacci series
n1=0
n2=1
c=0
print("Fibonacci series:")
while c<10:
  print(n1)
  n3=n1+n2
  n1=n2
  n2=n3
  c+=1

Fibonacci series:
0
1
1
2
3
5
8
13
21
34

In [ ]:
#@title Prime numbers
n=1
count=0
while n<100:
   i=1
   c=0
   while i<=n:
     if(n%i==0):
       c+=1
     i+=1
   if(c==2):
      count+=1
      print(n)
    
   n+=1
print("Total prime numbers",count)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
Total prime numbers 25

In [ ]:
#@title Odd or even
n=int(input("Enter a number:"))
if(n%2==0):
  sq=n*n
  print("Even number and its square is:",sq)
else:
  cu=n*n*n
  print("Odd number and its cube is:",cu)

Enter a number:3
Odd number and its cube is: 27

In [ ]:
#@title Longest word
sentence = input("Enter sentence: ")
longest = max(sentence.split(), key=len)
print("Longest word is: ", longest)

Enter sentence: hello welcome to
Longest word is:  welcome

In [ ]:
#@title Average of 5 numbers
n=[]
s=0
for i in range(0, 5):
    num = int(input("Enter number:"))
    s=s+num
    n.append(num) 
print("Average:",s/5)

Enter number:3
Enter number:2
Enter number:8
Enter number:7
Enter number:1
Average: 4.2

In [ ]:
#@title Sum of digits
n=int(input("Enter a number:"))
sum=0
while(n>0):
    d=n%10
    sum=sum+d
    n=n//10
print("The total sum of digits is:",sum)

Enter a number:56
The total sum of digits is: 11

In [ ]:
#@title Loan
principal=100000
rate=5
for i in range(1,6):
  interest=0
  amount=0
  interest=principal*rate
  amount=principal+interest
  principal=amount
  print("Interest for year",i,"is:",interest)
  print("Amount for year",i," is:",amount)
  print("")

Interest for year 1 is: 500000
Amount for year 1  is: 600000

Interest for year 2 is: 3000000
Amount for year 2  is: 3600000

Interest for year 3 is: 18000000
Amount for year 3  is: 21600000

Interest for year 4 is: 108000000
Amount for year 4  is: 129600000

Interest for year 5 is: 648000000
Amount for year 5  is: 777600000

In [ ]:
#@title Leap year
years=[2034,2048]
for yr in years:
 if yr%4==0:
   if yr%100!=0:
    print(yr,":Leap year")
   elif yr%400==0:
    print(yr,":Leap year")
 else:
    print(yr,":Not leap year")

2034 :Not leap year
2048 :Leap year