<a href="https://colab.research.google.com/github/ava2467/ml-ai/blob/day-1/class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input ("enter a number"))
count=0
for i in range(1,n):
   if n% i==0:
    count+=1
if count<3:
  print(n," is a prime number")
else:
    print(n," is not a prime number")

enter a number2
2 n is a prime number

In [ ]:
n=int(input("enter the year:"))
if n%4!=0:
  print(n,"is not a leap year")
else:
  if n%100!=0:
    print(n,"is a leap year")
  else:
      if n%400==0:
         print(n,"is a leap year")
      else:
          print(n,"is not a leap year")

enter the year:2020
2020 is a leap year

In [ ]:
n=int(input("enter the number"))
sum=0
for i in range (1,n):
  sum=sum+i
print(sum)

enter the number44
946

In [ ]:
def hello():
  print('vishnu')

In [ ]:
hello()

vishnu

In [ ]:
def addnumber(num1,num2):
  sum=num1+num2
  print(sum)

In [ ]:
addnumber(4,5)

9

In [ ]:
def square(number):
   n=number*number
   print(n)

In [ ]:
square(4)

16